[user]
	name = Andreas Runfalk
	email = andreas@runfalk.se
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[merge]
	ff = only
[pull]
	ff = only
[alias]
    # git mr <remote> <mr-id>
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig.work
